<html>
    <head>

        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <!-- bootstrap css+js -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Datatables plugin for jquery -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    </head>
    <body>
        <div class="container mt-3">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    {% for value in users[0].to_dict().keys() %}
                    <th>{{value}}</th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
                {% for user  in users %}
                <tr>
                    {% for value in user.to_dict().values() %}
                    <td>{{value}}</td>
                    {%endfor%}
                 </tr>
                {%endfor%}
            </tbody>
        </table>
        </div>

        <script>
            $(document).ready(function() {
                $('#example').DataTable( {
                    "order": [[ 3, "desc" ]]
                } );
            } );
        </script>
    </body>
</html>