{%extends 'base.html'%}
{%block content%}
    <form action="/admin" method="POST" id="admin_action_form">
        <table id="admin_console_users" class="display" style="width:100%">
            <thead>

                <tr>
                    <th></th>
                    {% for value in users[0].to_dict().keys() %}
                    <th>{{value}}</th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>

                {% for user  in users %}

                <tr>
                    <td><input type="checkbox" name="{{user.id}}" id="{{user.id}}"></td>
                    {% for value in user.values() %}
                    <td>{{value}}</td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </tbody>
        </table>


        <button type="submit" name="admin_action" value="ban">Ban</button>
        <button type="submit" name="admin_action" value="unban">Unban</button>
        <button type="submit" name="admin_action" value="make_admin">Set admin role</button>
        <button type="submit" name="admin_action" value="make_user">Set user role</button>
        <button id="delete_user_btn" type="submit" name="admin_action" value="delete_user">Delete user</button>
    </form>
        <script>
            $(document).ready(function() {
                $('#admin_console_users').DataTable( {
                    "autoWidth": true,
                    "scrollX": true,
                    "order": [[ 3, "desc" ]]
                } );
            } );

            $("#admin_action_form").submit( function(eventObj) {
                var selected_users = "["

                $("input[type='checkbox']:checked").each(function() {
                    selected_users = selected_users.concat(this.name, ", "); //"name",
                //console.log($(this).val());
                });

                selected_users = selected_users.slice(0, -2)
                selected_users = selected_users.concat("]")

                $("<input />").attr("type", "hidden")
                    .attr("name", "selected_users")
                    .attr("value", selected_users)
                    .appendTo("#admin_action_form");
                return true;
            });
        </script>
{%endblock%}