{%extends 'base.html'%}
{%block content%}
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    {% for value in users[0].to_dict().keys() %}
                    <th>{{value}}</th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
                {% for user  in users %}
                <tr>
                    {% for value in user.to_dict().values() %}
                    <td>{{value}}</td>
                    {%endfor%}
                 </tr>
                {%endfor%}
            </tbody>
        </table>
        </div>

        <script>
            $(document).ready(function() {
                $('#example').DataTable( {
                    "order": [[ 3, "desc" ]]
                } );
            } );
        </script>
{%endblock%}