{% extends 'base.html' %}


{%block content%}
        <div class="row">
            <div class="col-6">
                {% for error in form.errors %}
                <p>{{error}}</p>
                {% endfor %}
            </div>
        </div>


        <div class="row">
            <div class="card-body">
            <div class="col-10 card">
                <h4 class="card-title mt-3">Sign in to Simple2B</h4>
                <form action="/login" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <p>User name</p>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <p>Password</p>
                        <input type="password" class="form-control"  name="password">
                    </div>
                    <div>
                        <input type="submit" class="btn btn-outline-success btn-block mb-3"  value="Sign in">
                    </div>
                </form>
            </div>
            </div>


            <div class="card-body">
                <div class="col-10 card">
                    <h4 class="card-title mt-3">Join Simple2B</h4>
                    <form action="/signup" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <p>User name</p>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <p>Email adress</p>
                            <input type="text" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <p>Password</p>
                            <input type="password" class="form-control"  name="password">
                        </div>
                        <div>
                            <input type="submit" class="btn btn-outline-success btn-block mb-3"  value="Join">
                        </div>
                    </form>
                </div>
            </div>

        </div>


    <!--         <div class="col-6 border">
                <form action="/signup" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group row">
                        <div class="col-md-2">
                            <p>e-mail</p>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <p>username</p>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="username">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <p>password</p>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="password">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-7 form-check">
                            <input class="form-check-input" type="checkbox" name="agree">
                            <label class="form-check-label">accept our <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">terms and conditions</a></label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-7 form-check">
                            <input class="form-check-input" type="checkbox" name="subscribe">
                            <label class="form-check-label">subscrabe to newsletter</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <input type="submit" value="submit">
                        </div>
                    </div>

                </form>
            </div>
        </div>

-->








{%endblock%}