{%extends 'base.html'%}

{%block head%}

<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '240991697306228',
        cookie     : true,
        xfbml      : true,
        version    : 'v7.0'
      });

      FB.AppEvents.logPageView();

    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

    function statusChangeCallback(response) {
        console.log(response);
    }

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            //statusChangeCallback(response);
            /*console.log(response);
            console.log(response.status);
            console.log(response.authResponse.accessToken);*/
            location.href = 'http://localhost:5000/facebook_auth?access_token=' + response.authResponse.accessToken; //TODO change for prod
        });
    }
</script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="921611173768-ae440i8s5p70po5muu7ukn8jl0k33k7a.apps.googleusercontent.com"> <!-- content="YOUR_CLIENT_ID.apps.googleusercontent.com" -->

<script>
function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  }
</script>

{%endblock%}

{%block content%}
    <p id="fb_response"></p>
<div class="row justify-content-center">
    <div class="col-lg-4 card">
    <div class="card-body">
        <h4 class="card-title mt-3">Sign in to Simple2B</h4>
        <form action="/login" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <p>User name</p>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <p>Password</p>
                <input type="password" class="form-control"  name="password">
            </div>
            <div>
                <input id="login_btn" type="submit" class="btn btn-outline-success btn-block mb-3"  value="Sign in">
            </div>
            <div><p>Don't have account yet? <a href="/join">Join us!</a></p></div>
        </form>
        <form action="/github_login" method="POST">
            <input type="submit" class="btn btn-primary" value="Sign in with GitHub">
        </form>
        <fb:login-button
            scope="public_profile,email,birthday,hometown"
            onlogin="checkLoginState();">
        </fb:login-button>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
    </div>
</div>


{%endblock%}

<!--
curl -i -X GET "https://graph.facebook.com/1014161028985304?fields=birthday,email,hometown&access_token=EAADbLkCDAnQBAO1ZBhM7VZBfigKT68CzsEmYjQ6Wykk6eTsCrkKC15OZBCmEc4Hmb3rMGZB4p9fkK15MPr0GxZCb0yH6zfL1JTcBdhYUuf5bbRd1i5z3DCFWdBJr9FGkXgiWbjq5SR6z7uOPCG7TZAZApdkF6VEBGxcpi2UztQW90jI75VuZAGsYZBlY4ZAyZAlnqlIxEp31M9aTwZDZD"

-->